body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern-looking font */
    line-height: 1.8;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;  
    background: #f4f4f4;
    color: #333; /* softer than black for better readability */
}

header { 
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    text-align: center;
    color: #0056b3; /* Theme color */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
    background-color: #f4f4f4; /* Light background for the button */
    padding: 10px 20px;         /* Padding around the text */
    border: 1px solid #0056b3;  /* Border to look like a button */
    border-radius: 5px;         /* Rounded corners for the button */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

nav ul li a:hover {
    background-color: #0056b3; /* Change background on hover */
    color: #fff;               /* Change text color on hover */
}

.main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align items to the start (left) rather than center */
    text-align: justify;      /* Justify text for better alignment */
    padding: 20px;            /* Add padding around the text */
}

.about-me p {
    margin-bottom: 20px;      /* Add space between paragraphs */
}

.profile-photo {
    width: 200px;
    height: auto;
    border-radius: 50%; /* Circular image */
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #0056b3;
    color: #fff;
}

footer p {
    margin: 0;
}


.tools-section {
    display: flex;
    justify-content: space-around; /* Distributes space evenly between and around content items */
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
}

.tools-section > div {
    flex: 1 1 40%; /* Each box will take up 40% of the flex container's width, allowing two boxes per line */
    margin: 10px;
}

h3 {
    margin-top: 0; /* Removes the top margin for all h3 elements to align titles better with the lists */
}