/* Base styles for the entire website */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    margin: 0 auto;
    padding: 30px; /* Increased padding to add space around the content */
 max-width: 900px;  
    background: #f4f4f4;
    color: #333;
    box-sizing: border-box; /* Makes sure padding doesn't affect the overall width */
margin-bottom: 100px;
}

/* Header styling across all pages */
header {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
    text-align: center;
    color: #0056b3; /* Theme color */
}

nav {
    background: #f4f4f4;  /* Fondo claro para la barra de navegación */
    padding: 10px 0;  /* Espaciado vertical para la navegación */
}


/* Navigation links styling */



nav ul {
    list-style: none;  /* Elimina los estilos de lista */
    padding: 0;
    margin: 0;
    text-align: center;  /* Centra los elementos de la lista */
}

nav ul li {
    display: inline-block;  /* Display inline-block para alinear horizontalmente */
    margin-right: -4px;  /* Elimina el espacio entre elementos inline-block */
}

nav ul li a {
    text-decoration: none;  /* Elimina el subrayado de los enlaces */
    color: #0056b3;  /* Color del texto */
    font-weight: bold;  /* Texto en negrita */
    background-color: #ffffff;  /* Fondo blanco para los botones */
    padding: 10px 20px;  /* Espaciado interno para los botones */
    border: 1px solid #0056b3;  /* Border to look like a button */
    border-radius: 5px;  /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s;  /* Transición suave al cambiar el estado */
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #0056b3;  /* Cambia el fondo al pasar el mouse o enfocar */
    color: #fff;;  /* Cambia el color del texto a blanco */
}

/* Main content area styling */
.main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   border: 2px solid #ccc;  /* Borde sólido gris claro */
}
.justified-text {
    text-align: justify; /* Ensures the specified paragraphs are justified */
}


/* Specific styling for the About Me section */
.about-me {
    text-align: justify; /* Justify text for a clean, aligned appearance */
    padding: 20px;
}

.my-expertise {
    text-align: justify; /* Justify text for a clean, aligned appearance */
    padding: 20px;
}

.profile-photo {
    display: block;
    margin: 0 auto; /* Center the profile photo */
    width: 200px; /* Fixed width for the photo */
    height: auto;
    border-radius: 50%; /* Circle shape for the photo */
}

/* Footer styling across all pages */

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}
/* Tool sections and other list styles for uniformity */
.tools-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tools-section > div {
    flex: 1 1 40%; /* Flex basis of 40% for each tool section */
    margin: 10px;
}

h3 {
    margin-top: 0;
}

h2 {
    text-align: left; /* Headers aligned left */
}
li a {
    text-align: left; /* Ensures list links are aligned left */
    display: block; /* Full width links for easier interaction */
}

